<!DOCTYPE html>
<html>
<head>
    <title>musicalTrie Search Results</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
<div style="margin: 20px;">

    <!-- Header -->
    <div class="page-header">
        <a href="/"><h1>musicalTree Search: Results</h1></a>
      </div>
    
    <!-- Content -->
    <div class="jumbotron" style="padding: 20px;">
        <h4>Found musical work:</h4>
        <br>
        <p>{{found_mw_title}}</p>
        <p>{{found_mw_melody}}</p>

        <p style="margin-top: 20px;"><a class="btn btn-primary btn-md" href="/" role="button">Test another name</a></p>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</div>
</body>
</html>
